<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="113.3.5" targetFramework="net461" />
  <package id="cef.redist.x86" version="113.3.5" targetFramework="net461" />
  <package id="CefSharp.Common" version="113.3.50" targetFramework="net461" />
  <package id="CefSharp.WinForms" version="113.3.50" targetFramework="net461" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1620.0" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net461" />
  <package id="Microsoft.Web.WebView2" version="1.0.1661.34" targetFramework="net461" />
</packages>